Package: Dropbear
Name: Dropbear
Version: 3.0
Installed-Size: 441
Section: System
Architecture: iphoneos-arm
Maintainer: anonymous
Description: Dropbear SSH for 32 and 64 bit devices. Use with an SSH tunnel to SSH via USB(Wi-Fi SSH is not enabled by default.)
