Package: com.alonemonkey.stonetweak
Name: StoneTweak
Version: 1.0
Installed-Size: 24
Description: 去掉Stone越狱检测
Section: Tweaks
Priority: optional
Architecture: iphoneos-arm
Maintainer: AloneMonkey <liupeiqing1993@163.com>
