Package: com.alonemonkey.revealloader
Name: RevealLoader
Version: 13.0
Installed-Size: 1900
Description: RevealLoader，使用reveal 13版本的动态库，自己替换/Library/RevealLoader/libReveal.dylib
Section: System
Depends: AppList
Priority: optional
Architecture: iphoneos-arm
Maintainer: AloneMonkey <liupeiqing1993@163.com>
